//Footer

.footer{
  padding: 18px 0;

  & .soc-btn{
    justify-content: flex-start;

    & a + a{
      margin-left: 15px;
    }

    .google{
      background-image: url(../img/sprite.png);
      background-position: -118px 0px;
      width: 35px;
      height: 35px;
    }

    .facebook{
      background-image: url(../img/sprite.png);
      background-position: -59px -40px;
      width: 35px;
      height: 35px;
    }

    .youtube{
      background-image: url(../img/sprite.png);
      background-position: -118px -35px;
      width: 35px;
      height: 35px;
    }
  }

  @media(max-width: 800px){
    & .soc-btn{
      display: none;
    }
  }

  @media (max-width: 650px) {
    & .soc-btn{

      & a + a{
        margin-left: 8px;
      }

      .google{
        background-position: 0px -95px;
        width: 33px;
        height: 31px;
      }

      .facebook{
        background-position: -33px -95px;
        width: 32px;
        height: 31px;
      }

      .youtube{
        background-position: -65px -95px;
        width: 31px;
        height: 31px;
      }
    }
  }

  .footer-text{
    justify-content: center;
    margin-top: -8px;

    p{
      max-width: 500px;
      font-size: 18px;
      text-align: center;
      line-height: 26px;
      letter-spacing: 0.4px;
    }
  }

  @media(max-width: 800px){
    .footer-text{
      p{
        font-size: 15px;
      }
    }
  }

  @media (max-width: 650px) {
    .footer-text{
      margin-top: -1px;
    }
  }

  .footer-question{
    justify-content: center;
    margin-top: 27px;
    flex-wrap: wrap;

    & input:first-child{
      border-radius: 25px 0 0 25px;
    }

    & input:last-child{
      border-radius: 0 25px 25px 0;
    }

    & input + input{
      margin-left: 10px;
    }

    & .form-control{
      width:378px;
    }

  }

  @media (max-width: 650px){
    .footer-question{
      margin-top: 18px;

      input[type='text'],
      input[type='submit']{
        border-radius: 25px;
        width: 100%;
      }

      input[type='text']{
        margin-left: 0;
        text-align: center;
        order: 1;
      }

      input[type='submit']{
        order: 2;
        margin-top: 15px;
        line-height: 24px;
      }
    }
  }

  .footer-big-links{
    flex-wrap: wrap;
    justify-content: center;
    font-size:15px;
    color:#2196f3;
    margin-top: 24px;

    a{
      margin-top: 15px;
    }

    a + a{
      margin-left: 37px;
    }
  }

  @media (max-width: 650px) {
    .footer-big-links{
      justify-content: space-between;

      a{
        margin-top: 17px;
        width: 25%;
        text-align: center;

        &:first-child,
        &:nth-child(2){
          order: 2;
          width: 50%;

        }
      }

      a + a{
        margin-left: 0;
      }
    }
  }

  .footer-small-links{
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;

    a{
      margin-top: 15px;
    }

    a + a{
      margin-left: 37px;
    }
  }

  @media (max-width: 650px) {
    .footer-small-links{
      margin-top: 39px;
      flex-direction: column-reverse;
      text-align: right;
      border-top: 1px solid #b0b0b0;
      margin-left: -20px;
      margin-right: -20px;

      a{
        margin-top: 0;
        border-bottom: 1px solid #b0b0b0;
        background-color: #ececec;
        padding: 8px 18px;
      }

      a + a {
        margin-left: 0;
      }

      a:first-child{
        display: none;
      }
    }
  }

  .footer-bottom{
    margin-top: 35px;
    border-top: 1px solid #dadada;

    .copyright{
      flex-wrap: wrap;
      padding-top: 14px;

      a{
        display: inline-block;
      }

      .soc-btn.mobile{
        display: none;
      }

      .copyright-logo{
        display: block;
        margin-left: -3px;

        a{
          background-image: url(../img/sprite.png);
          background-position: 0px 0px;
          width: 118px;
          height: 40px;
        }
      }

      .copyright-cards{
        align-items: center;
        margin-left: 43px;

        a + a{
          margin-left: 5px;
        }

        .bitc{
          background-image: url(../img/sprite.png);
          background-position: -87px -75px;
          width: 28px;
          height: 20px;
        }

        .amex{
          background-image: url(../img/sprite.png);
          background-position: -59px -75px;
          width: 28px;
          height: 20px;
        }

        .visa{
          background-image: url(../img/sprite.png);
          background-position: -96px -95px;
          width: 30px;
          height: 22px;
        }

        .isracard{
          background-image: url(../img/sprite.png);
          background-position: -118px -70px;
          width: 30px;
          height: 22px;
        }

        .master{
          background-image: url(../img/sprite.png);
          background-position: -59px -75px;
          width: 28px;
          height: 20px;
        }
      }

      .copyright-text{
        margin-left: auto;
        text-align: right;
        line-height: 21px;
        letter-spacing: 0.5px;
      }
    }
  }

  @media (max-width: 800px){
    & .footer-bottom .copyright{
      justify-content: space-between;
      padding-top: 16px;

      .soc-btn.mobile{
        display: flex;
      }

      .copyright-logo{
        display: none;
      }

      .copyright-text{
        width: 100%;
        margin-top: 18px;
        line-height: 18px;
        order: 3;
      }
    }
  }

  @media (max-width: 650px) {
    & .footer-bottom{
      margin-top: 0;
      border-top: none;

      & .copyright{
        .copyright-text{
          font-size: 10px;
          letter-spacing: 0.2px;
        }

        .soc-btn.mobile{
          margin-left: -2px;
        }

        .copyright-cards{
          margin-left: auto;
          margin-right: -3px;

          a + a{
            margin-left: 4px;
          }
        }
      }

    }
  }
}

@media (max-width: 800px){
  .footer{
    padding-top: 30px;
  }
}