@font-face {
  font-family: 'Noto Sans Hebrew';
  src: url('../fonts/Noto Sans Hebrew.eot');
  src: url('../fonts/Noto Sans Hebrew.woff') format('woff'),
  url('../fonts/Noto Sans Hebrew.ttf') format('truetype'),
  url('../fonts/Noto Sans Hebrew.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Hebrew Bold';
  src: url('../fonts/Noto Sans Hebrew Bold.eot');
  src: url('../fonts/Noto Sans Hebrew Bold.woff') format('woff'),
  url('../fonts/Noto Sans Hebrew Bold.ttf') format('truetype'),
  url('../fonts/Noto Sans Hebrew Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}